.head-line{
  margin-top: 1em;
  display: flex;
  justify-content: center;
}

.head-line svg {
  width: 430px;
}

.menus{
  margin-top: 1em;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-top: 1px solid rgb(78, 105, 155);
  border-bottom: 4px double rgb(78, 105, 155);
}

.menus button{
  display: flex;
  justify-content: center;
  border: none;
  background: none;
  margin: 5px;
}

.menus button:hover{
  background-color: cornsilk;
}

.news-img{
  max-width: 100%; 
  max-height: 100%;
}

.row-news{
  border-bottom: 1px solid rgb(150, 150, 150);
  margin-left: 90px;
  margin-right: 40px;
}